<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Palgeo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>21</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>940143E68A90636C71108916E34A8CB0ADFA0939</string>
				<key>dateExpires</key>
				<string>28/04/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>940143E68A90636C71108916E34A8CB0ADFA0939</string>
						<key>dateExpires</key>
						<string>28/04/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>HL7CZBGA9C.com.ipalpap.palgeo.OneSignalNotificationServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>HL7CZBGA9C</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.ipalpap.palgeo.onesignal</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e9a331a1-0655-4e9b-afc3-fcea0b17c1de</string>
						<key>dateExpires</key>
						<string>30/10/22</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.ipalpap.palgeo.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HL7CZBGA9C</string>
						<key>name</key>
						<string>IPALPAP SOFTWARE PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.8</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HL7CZBGA9C.com.ipalpap.palgeo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HL7CZBGA9C</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.ipalpap.palgeo.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AwesomeProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e338e9f6-7bb6-44f5-84ec-9620ead47a3b</string>
				<key>dateExpires</key>
				<string>30/10/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.ipalpap.palgeo</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HL7CZBGA9C</string>
				<key>name</key>
				<string>IPALPAP SOFTWARE PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.8</string>
		</dict>
	</array>
</dict>
</plist>
